<app-nav></app-nav>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <section class="todoapp">
        <header class="header">
          <h1>Todos</h1>
          <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title"
            (keyup.enter)="addTodo()">
        </header>
        <section class="main" *ngIf="todos.length > 0">
          <ul class="todo-list list-unstyled">
            <li *ngFor="let todo of todos" [class.completed]="todo.complete">
              <div class="container">
                <div class="row">
                  <div class="col-sm-2">
                    <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
                    <label>{{todo.title}}<br></label>
                  </div>
                  <div class="col-sm">
                    <button class="destroy" (click)="removeTodo(todo)"><i class='fas fa-trash-alt'
                        style='font-size:24px;color:green'></i>Delete</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </section>
        <footer class="footer" *ngIf="todos.length > 0">
          <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}}
            left</span>
        </footer>
      </section>
    </div>
    <div class="col-sm">
      <app-container></app-container>
    </div>
  </div>
</div>
